*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}
#input-search{
    width: 300px;
    height: 40px;
    font-size: 20px;
    text-indent: 10px;
}
#input-button{
    width: 100%;
    height: 60px;
    background: #018d5e;
    padding: 10px;
}
#button-categoria{
    width: 100%;
    height: 30px;
    background: #ffffff;
    padding: 1px;
    font-size: 15px;
}
#button-ofertas{
    width: 100%;
    height: 30px;
    background: #ffffff;
    padding: 1px;
    font-size: 15px;
    
}
#button-historial{
    width: 100%;
    height: 30px;
    background: #ffffff;
    padding: 1px;
    font-size: 15px;
    
}
#button-tienda{
    width: 100%;
    height: 30px;
    background: #ffffff;
    padding: 1px;
    font-size: 15px;
}
#button-vender{
    width: 100%;
    height: 30px;
    background: #ffffff;
    padding: 1px;
    font-size: 15px;
}
#button-ayuda{
    width: 100%;
    height: 30px;
    background: #ffffff;
    padding: 1px;
    font-size: 15px;
    
}
#button-compras{
    width: 100%;
    height: 30px;
    background: #ffffff;
    padding: 1px;
    font-size: 15px;
}
#input-comprar{
    width: 100%;
    height: 40px;
    background: #0586E6;
    padding: 1px;
    font-size: 15px;
}
#pro-1{
    position: absolute;  
    bottom: 400px;  
    right: 0;
    left: 500px;
    width: 500px;  
    height: 216px;  
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
}
#pro-2{
    position: absolute;  
    bottom: 400px;  
    right: 0;
    left: 1040px;
    width: 500px;  
    height: 216px;  
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
}
#pro-3{
    position: absolute;  
    bottom: 160px;  
    right: 0;
    left: 500px;
    width: 500px;  
    height: 216px;  
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
}
#pro-4{
    position: absolute;  
    bottom: 160px;  
    right: 0;
    left: 1040px;
    width: 500px;  
    height: 216px;  
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
}
#pro-5{
    position: absolute;  
    bottom: 0; 
    top: 840px; 
    right: 0;
    left: 500px;
    width: 500px;  
    height: 216px;  
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
}
#pro-6{
    position: absolute;  
    bottom: 0; 
    top: 840px;  
    right: 0;
    left: 1040px;
    width: 500px;  
    height: 216px;  
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
}
#categoria-pro{
    position: absolute;  
    top: 235px;
    right: 1622.8px;
    width: 280px;  
    height: 100%;  
    background-color: #13D7E4;
    border: 3px solid black;
}
.cat{
    color: blue;
}
#int1{
    position: absolute;  
    bottom: 95px;  
    right: 0;
    left: 155px;
    width: 500px;  
    height: 606px;  
    background-color: rgb(36, 66, 165);
    border: 3px solid black;
}
#int2{
    position: absolute;  
    bottom: 70px;  
    right: 0;
    left: 550px;
    width: 800px;  
    height: 806px;  
    background-color: rgb(165, 36, 90);
    border: 3px solid black;
}
#int3{
    position: absolute;  
    width: 100%;  
    height: 100%;  
    background-color: rgb(8, 243, 0);
    border: 3px solid black;
}

















